#header h1 a, .works, .command img {
	behavior: url(css/iepngfix.htc);
}	
.command {
	display: inline-block;
	position: relative;
}
.cmdclick {
	margin: 0;
	position: relative;
	top: -13px;
}
#navihome {
	padding-left: 24px;
}
